.root {
  position: absolute;
  top: 0.4em;
  bottom: 0.4em;
  left: 0.4em;
  right: 0.4em;
}

.input {
  box-sizing: border-box;
  padding: 0.5em;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  background: transparent;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;

  &:hover,
  &:focus {
    border-color: #ccc;
    background: #fff;
    outline: none;
  }
}
